.mc-label h3 {
	line-height: 32px;
}
#newsletter-wrap-footer .mc-label {
	background: #f7941d;
	padding: 10px 0;
	display: block;	
}
.mc-label img {
	display: block;
	width: 427px;
	margin: 0 auto;
}
#mc-form-home,
#newsletter-wrap .mc-label {
	padding-top: 30px;
}