#newsletter-wrap-footer {
	min-height: 460px;
	background: url('mailchimp-bg3.jpg') no-repeat top right;
}
.mailchimp-bg {
	padding-top: 30px;
}
.mc-pop-title {
	padding: 10px;
	margin-bottom: 15px;
	background: #fff;
	opacity: 0.8;
	float: left;
	border-radius: 5px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
}